#title-section {
  background-color: #212529;
  padding: 100px;
}

#avatar {
  width: 40%;
}

#title-div {
  padding: 10px;
  margin: auto;
}

.navbar{
  padding: 20px 100px 20px 100px ;
}

h1 {
  color: #ffffff;
  vertical-align: middle;
  font-family: 'Permanent Marker', cursive;
}

p {
  color: #ffffff;
  font-family: 'KoHo', sans-serif;
}

body {
  text-align: center;
}


.skills-container {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  background-color: #eeeeee;
  text-align: center;
}

.skills-heading {
  padding-top: 70px;
  margin: 0 auto 10px auto;
  color: #00adb5;
  font-family: 'Merriweather', serif;
  font-size: 50px;
  text-align: center;
}

.skills-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.python-icon {
  width: 25%;
  float: left;
  margin: 20px;
}

.database-icon {
  width: 25%;
  float: right;
  margin: 20px;
}

.web-icon {
  width: 25%;
  float: left;
  margin: 20px;
}

.app-icon {
  width: 25%;
  float: right;
  margin: 20px;
}

.skills-para {
  font-size: 18px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #393e46;
}
